/* Configurações */

:root {
    background-image: url('../imagens/background.jpg');
}

@font-face {
    font-family: Borna;
    src: url("../fontes/Borna-Medium.otf");
}

@font-face {
    font-family: DirtyLine;
    src: url("../fontes/DirtyLine.otf");
}

h1,
h2 {
    font-family: DirtyLine;
}

html {
    font-family: Borna;
}

a {
    text-decoration: none;
    color: #6B705C;
}


/*Início dos estilos na página*/


#header {
    display: flex;
    justify-content: space-between;

    font-family: Borna;

    margin: 2rem 2rem 0rem 2rem;
    padding: 0rem 1rem 1rem 1rem;

    border-bottom: 0.1rem solid rgba(135, 157, 129, 0.638);
}

#header__title {
    font-size: 1.5rem;
    color: #6B705C;

    text-align: center;
}

#header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.3rem;

}

.header__ul_li {
    margin: 0rem 1rem 0rem 1rem;
}

.header__ul_li {
    color: #6B705C;
}

/* Main section */

#main__first-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* height: 100vh; */
}

#main__first-section_div {
    margin: 3rem 0rem 0rem 3rem;
}

#main__first-section_div-imagens-titulo {
    margin-bottom: 2rem;
}

#main__first-section_div-quote_frase {
    display: inline-block;
    text-align: justify;

    font-size: 2rem;
    color: #727764;

    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(135, 157, 129, 0.652);
}

#main__first-section_div-quote_autor {
    font-family: DirtyLine;
    color: #989C8D;
    font-size: 2rem;

    margin-top: 0.5rem;
}

#main__first-section_div-buttons {
    margin-top: 1rem;
}

.button {
    font-family: Borna;

    color: #f1f1f1;
    background: #6B705C;

    outline: none;
    cursor: pointer;

    border: none;
    border-radius: 11px;

    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 1rem;
    text-align: center;

}

.button:nth-child(1) {
    margin-right: 1rem;
}

#main__first-section_div-buttons_button-read {
    background: #4D4F49;
    transition: .2s ease, color.2s ease, box-shadow.2s ease;
}

#main__first-section_div-buttons_button-read:hover {
    box-shadow: 0 6px 20px rgba(135, 157, 129, 0.467);
}

.main__first-section_div-images_images {
    display: inline-block;
    position: absolute;
}

.main__first-section_div-images_images:nth-child(1) {
    width: 600px;
    top: 100px;
}

.main__first-section_div-images_images:nth-child(2) {
    right: 0px;
    top: 0px;

    z-index: -1;

}

.main__first-section_div-images_images:nth-child(3) {
    width: 650px;
    right: 50px;
}

.main__first-section_div-images_images:nth-child(4) {
    bottom: -90px;
    left: 750px;
    width: 400px;
}


/* Quotes section */

#main__quotes-section {
    /* height: 100vh; */

    background-image: url(../imagens/imagem-background.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 250px;
}

#main__quotes-section_title {
    color: #727264;
    font-size: 3.5rem;

    margin: 1rem 0rem 0rem 1rem;
    padding-top: 3rem;
}

#main__quotes-section_div-imgs {
    margin-left: 5rem;
    grid-column-start: 1;
}

.main__quotes-section_div-imgs_images {
    width: 100px;
}

.main__quotes-section_div-imagem-livro_imgs {
    position: absolute;
    z-index: -1;
    right: 200px;
}

.main__quotes-section_div-imagem-livro_imgs:nth-child(1) {
    top: 110%;
    width: 500px;
}


.main__quotes-section_div-imagem-livro_imgs:nth-child(2) {
    top: 150%;
}

#main__quotes-section_div-quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__quotes-section_div-quotes_quote {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0rem 4rem;
}

.main__quotes-section_div-quotes_quote:last-child {
    margin-left: 10rem;
}

.main__quotes-section_div-quotes_quote_quote-text {
    display: inline-block;
    text-align: justify;

    color: #727764;
    font-size: 1.5rem;
}

.main__quotes-section_div-quotes_quote_quote-blob {
    margin-left: -5rem;
    z-index: -1;
}

.main__quotes-section_div-quotes_quote_quote-blob:first-child {
    margin-right: -5rem;
    z-index: -1;
}

.main__quotes-section_div-quotes_quote_quote-blob:last-child {
    margin-left: -5rem;
    z-index: -1;
}

/* Books section */

#main__books-section_div-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1.5rem;
}

#main__books-section_div-title_title {
    color: #6B705C;
    font-size: 5rem;
}

#main__books-section_div-title_subtitle {
    color: #727764;
    font-size: 2.5rem;
    font-family: Borna;
}

#main__books-section_div-books {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 2rem;
}

.main__books-section_div-books_book_book-img {
    display: inline-block;
    border-radius: 11px;
    line-height: 10px;
    width: 250px;
}

.main__books-section_div-books_book_book-title {
    color: #E8EBEB;
    font-size: 1.5rem;
    margin-top: 1rem;
    align-self: center;
}

.main__books-section_div-books_book {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #6B705C;
    border: 10px solid #6B705C;
    border-radius: 20px;
}

.main__books-section_div-books_book_small-book-img {
    width: 160px;
}

#main__books-section_div-redirect {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin: 1rem;
}

#main__books-section_div-redirect_text {
    font-family: Dirtyline;
    font-size: 1.8rem;
    color: #727264;

    padding: 2rem 1rem 0rem 1rem;
}

#main__books-section_div-redirect_button {
    display: flex;
    align-items: center;

    border: 2px solid #4D4F49;
    background-color: #4D4F49;
    border-radius: 11px;

    height: 2.4rem;
}

#main__books-section_div-redirect_button_text {
    color: #E8EAEA;
    font-family: Borna;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: 0.5rem;


    background: url(../imagens/iconeSeta.svg) no-repeat right center;
    padding-right: 3rem;

}

/* Footer */

#footer {
    height: 30vh;
    margin: 1rem 5% 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #32332F;
    border-radius: 10px;

    color: white;

}

#footer_copyrights_copyright-text {
    color: #E8EBEB;
}

#footer__contact {
    display: flex;
    width: 14rem;
    justify-content: space-between;
}

#footer__contact_contact-us_header,
#footer__contact_follow-us_header {
    color: white;
    font-size: 1.5rem;
}


.footer__contact_contact-us_list_li>a,
.footer__contact_follow-us_li>a {
    color: #E8EBEB;
}




/* Media queries */

@media screen and (max-width: 767px) {

    #main {
        overflow: hidden;
    }

    /*  HEADER */

    #header {
        flex-direction: column;
    }

    #header__title {
        margin-bottom: 1rem;
    }

    #header__ul {
        justify-content: center;
    }

    .header__ul_li {
        margin: 0rem 1rem 0rem 0rem;
    }

    .header__ul_li:last-of-type {
        margin-right: 0;
    }


    /*  MAIN FIRST SECTION */

    #main__first-section {
        visibility: visible;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #main__first-section_div {
        margin: 2rem;
    }

    #main__first-section_div-imagens-titulo {
        text-align: center;
    }

    .main__first-section_div_imagens-titulo {
        width: 100px;
    }

    #main__first-section_div-quote_frase {
        font-size: 1.7rem;
    }

    #main__first-section_div-quote_autor {
        font-size: 1.5rem;
    }

    #main__first-section_div-buttons {
        display: flex;
        justify-content: space-between;
    }

    #main__first-section_div-images {
        display: none;
    }

    .main__first-section_div-images_images {
        display: inline-block;
        position: inherit;
        display: none;
    }


    /* MAIN QUOTES SECTION*/

    #main__quotes-section {
        visibility: visible;
        height: auto;
        background: none;
    }

    #main__quotes-section_title {
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
    }

    #main__quotes-section_div-imgs {
        margin: 0;
        text-align: center;
    }

    .main__quotes-section_div-imgs_images {
        width: 50px;
    }

    #main__quotes-section_div-imagem-livro {
        display: none;
    }

    .main__quotes-section_div-imagem-livro_imgs {
        position: inherit;
        z-index: inherit;
        right: 0;
        display: none;
    }

    .main__quotes-section_div-quotes_quote,
    .main__quotes-section_div-quotes_quote:last-child {
        margin: 1rem;
    }

    .main__quotes-section_div-quotes_quote_quote-blob {
        margin-left: 0;
    }


    /* MAIN BOOKS SECTION */

    #main__books-section {
        visibility: visible;
        height: auto;
    }

    #main__books-section_div-title_title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    #main__books-section_div-title_subtitle {
        font-size: 2rem;
        text-align: center;
    }

    .main__books-section_div-books_book:first-of-type,
    .main__books-section_div-books_book:last-of-type {
        display: none;
    }

    .main__books-section_div-books_book_book-img {
        width: 200px;
    }

    #main__books-section_div-redirect {
        flex-direction: column;
    }

    #main__books-section_div-redirect_text {
        font-size: 2rem;
    }



    /* FOOTER */

    #footer {
        visibility: visible;
        flex-direction: column;
    }

    #footer__copyrights {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
    }


    #footer__copyrights_logo-img {
        width: 100px;
    }


}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main__first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit;
    }

    #main__first-section_div {
        margin: 3rem;
    }

    #main__first-section_div-imagens-titulo {
        text-align: center;
    }


    #main__first-section_div-images {
        display: none;
    }

    /* Quotes section  */

    #main__quotes-section {
        height: 142vh;
    }

    #main__quotes-section_title {
        font-size: 2.7rem;
    }

    #main__quotes-section_div-imgs {
        margin-left: 0;
        text-align: center;
    }

    .main__quotes-section_div-imagem-livro_imgs {
        width: 100px;
    }

    .main__quotes-section_div-imagem-livro_imgs:nth-child(1) {
        width: 100px;
        top: 674px;
        right: 30px;
    }

    .main__quotes-section_div-imagem-livro_imgs:nth-child(2) {
        top: 896px;
        right: 1px;
    }

    #main__quotes-section_div-quotes {
        flex-direction: column;
        align-items: center;
        /* height: 100vh; */
        justify-content: space-around;
    }

    .main__quotes-section_div-quotes_quote:last-child {
        margin: 0;
    }

    .main__quotes-section_div-quotes_quote:last-child {
        width: 400px;
    }


    /* Books section */

    #main__books-section {
        height: inherit;
    }

    #main__books-section_div-title_subtitle {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .main__first-section_div-images_images:nth-child(1) {
        width: 514px;
    }
    
    .main__first-section_div-images_images:nth-child(2) {
        width: 299px;
    }
    
    .main__first-section_div-images_images:nth-child(3) {
        width: 540px;
    }
    
    .main__first-section_div-images_images:nth-child(4) {
        width: 276px;
    }

    .main__quotes-section_div-imagem-livro_imgs:first-child {
        width: 271px;
        right: 10px;
    }

    .main__quotes-section_div-imagem-livro_imgs:last-child {
        width: 126px;
        right: 10px;
        top: 857px;
    }

    .main__quotes-section_div-quotes_quote {
        width: 500px;
    }

    #main__books-section {
        height: inherit;
    }
    
}