/* Configurações */

:root {
    background-image: url('../imagens/background.jpg');
}

@font-face {
    font-family: Borna;
    src:url("../fontes/Borna-Medium.otf");
}

@font-face {
    font-family: DirtyLine;
    src:url("../fontes/DirtyLine.otf");
}

h1, h2 {
    font-family: DirtyLine;
}

html {
    font-family: Borna;
}

a {
    text-decoration: none;
    color: #6B705C;
}


/*Início dos estilos na página*/


#header {
    display: flex;
    justify-content: space-between; 

    font-family: Borna;

    margin: 2rem 2rem 0rem 2rem;
    padding: 0rem 1rem 1rem 1rem;

    border-bottom: 0.1rem solid rgba(135, 157, 129, 0.638);
}

#header__title {
    font-size: 1.5rem;
    color: #6B705C;

    text-align: center;
}

#header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.3rem;

}

.header__ul_li {
    margin: 0rem 1rem 0rem 1rem;
}

.header__ul_li {
    color: #6B705C;
}

/* Main section */

#main__first-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

#main__first-section_div {
    margin: 3rem 0rem 0rem 3rem;
}

#main__first-section_div-imagens-titulo {
    margin-bottom: 2rem;
}

#main__first-section_div-quote_frase {
    display: inline-block;
    text-align: justify;

    font-size: 2rem;
    color: #727764;

    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(135, 157, 129, 0.652);
}

#main__first-section_div-quote_autor {
    font-family: DirtyLine;
    color: #989C8D;
    font-size: 2rem;
    
    margin-top: 0.5rem;
}

#main__first-section_div-buttons {
    margin-top: 1rem;
}

.button {
    font-family: Borna;

    color: #f1f1f1;
    background: #6B705C;

    outline: none;
    cursor: pointer;

    border: none;
    border-radius: 11px;

    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 1rem;    
    text-align: center;

}

.button:nth-child(1) {
    margin-right: 1rem;
}

#main__first-section_div-buttons_button-read {
    background: #4D4F49;
    transition: .2s ease,color.2s ease,box-shadow.2s ease;
}

#main__first-section_div-buttons_button-read:hover {
    box-shadow: 0 6px 20px rgba(135, 157, 129, 0.467);
}

.main__first-section_div-images_images {
    display: inline-block;
    position: absolute;
}

.main__first-section_div-images_images:nth-child(1) {
    width: 600px;
    top: 100px;
}

.main__first-section_div-images_images:nth-child(2) {
    right: 0px;
    top: 0px;

    z-index: -1;

}

.main__first-section_div-images_images:nth-child(3) {
    width: 650px;
    right: 50px;
}

.main__first-section_div-images_images:nth-child(4) {
    bottom: -90px;
    left: 750px;
    width: 400px;
}


/* Quotes section */

#main__quotes-section {
    height: 100vh;

    background-image: url(../imagens/imagem-background.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 250px;
}

#main__quotes-section_title {
    color: #727264;
    font-size: 3.5rem;

    margin: 1rem 0rem 0rem 1rem;
    padding-top: 3rem;
}

#main__quotes-section_div-imgs {
    margin-left: 5rem;
    grid-column-start: 1;
}

.main__quotes-section_div-imgs_images {
    width: 100px;
}

.main__quotes-section_div-imagem-livro_imgs {
    position: absolute;
    z-index: -1;
    right: 200px;
}

.main__quotes-section_div-imagem-livro_imgs:nth-child(1) {
    top: 110%;
    width: 500px;
}


.main__quotes-section_div-imagem-livro_imgs:nth-child(2) {
    top: 150%;
}

#main__quotes-section_div-quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__quotes-section_div-quotes_quote {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0rem 4rem;
}

.main__quotes-section_div-quotes_quote:last-child {
    margin-left: 10rem;
}

.main__quotes-section_div-quotes_quote_quote-text {
    display: inline-block;
    text-align: justify;

    color: #727764;
    font-size: 1.5rem;
}

.main__quotes-section_div-quotes_quote_quote-blob {
    margin-left: -5rem;
    z-index: -1;
}

.main__quotes-section_div-quotes_quote_quote-blob:first-child {
    margin-right: -5rem;
    z-index: -1;
}

.main__quotes-section_div-quotes_quote_quote-blob:last-child {
    margin-left: -5rem;
    z-index: -1;
}

/* Books section */


